body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    360deg,
    rgba(0, 22, 36, 1) 0%,
    rgba(9, 53, 121, 1) 0%,
    rgba(52, 120, 161, 1) 100%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .app__head {
    align-self: stretch;
  }
}

.app__weather-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
  margin: 1rem auto;
}

.app__text--bold {
  font-weight: bold;
}

.app__card {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
